{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
				<h1>Order Summaries</h1>
				{% for order in orders %}
					<h2>Order #: {{ order.id }} <a href="{% url 'core:order-edit' id=order.id %}" class="glyphicon glyphicon-edit"></a></h2>

					{% for widget in order.widgets.all %}
						<h3>Widget Name: {{ widget.title }}</h3>
						<p>Color: {{ widget.color }}</p>
						<p>Size: {{ widget.size }}</p>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}