{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Widget Warehouse{% endblock title %}</title>
        {% block styling %}
        	<link rel="shortcut icon" href="{%  static 'imgs/favicon-cog.ico' %}">
        	<link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
			<link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap-theme.min.css' %}">
			<link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}">
			<link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/variables.less' %}">
			<link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootswatch.less' %}">
			<link rel="stylesheet" href="{% static 'DataTables-1.10.15/media/css/jquery.dataTables.min.css' %}">
        {% endblock styling %}
    </head>

    <body>
		<div class="bs-component">
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="{% url 'core:widget-list' %}">Widget Warehouse</a>
					</div>

					<ul class="nav navbar-nav">
						<li><a href="{% url 'core:order-create' %}" class="text-primary">Order Your Widgets!</a></li>
					</ul>

					<ul class="nav navbar-nav">
						<li><a href="{% url 'core:order-list' %}" class="text-primary">Edit Previous Orders</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url 'core:widget-create' %}">Create New Widget</a></li>
					</ul>
					</div>
				</div>
			</nav>
		</div>

	    {% block content %}
	    {% endblock content %}

	    {% block scripts %}
			<script type="text/javascript" src="{% static 'jquery-3.2.1/jquery-3.2.1.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'DataTables-1.10.15/media/js/jquery.dataTables.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
		{% endblock scripts %}
	</body>
</html>






