{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Widget Warehouse{% endblock title %}</title>
        {% block styling %}
        	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        {% endblock styling %}
    </head>

    <body>
	    <nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Widget Warehouse</a>
				</div>
			</div>
		</nav>

	    {% block content %}
	    {% endblock content %}
	</body>

	{% block scripts %}
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	{% endblock scripts %}
</html>






