{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Widget Warehouse{% endblock title %}</title>
        {% block styling %}
        	<link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
			<link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap-theme.min.css' %}">
			<link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.css' %}">
        {% endblock styling %}
    </head>

    <body>
	    <nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'core:widget-list'%}">Widget Warehouse</a>
				</div>
			</div>
		</nav>

	    {% block content %}
	    {% endblock content %}
	</body>

	{% block scripts %}
		<script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'jquery-3.2.1/jquery-3.2.1.min.js' %}"></script>
	{% endblock scripts %}
</html>






